@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --yellow-hex: #fcd721;
  /* --yellow-hex: #7ec80e; */
  --light-blue-hex: #c9feff;
  --blue-hex: #4ab8d3;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: repeating-radial-gradient(
    circle farthest-corner at top left,
    var(--yellow-hex),
    var(--light-blue-hex) 25%,
    var(--blue-hex)
  );
}

iframe {
  aspect-ratio: 16/9;
  width: 100%;
}

a:hover {
  text-decoration: underline;
}

/* WebKit Browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  display: none;
}

/* Masonry */
.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -16px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 16px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  margin-bottom: 16px;
}

@media screen and (max-width: 500px) {
  .my-masonry-grid {
    margin-left: 0px;
  }
  .my-masonry-grid_column {
    padding-left: 5px;
  }
  .my-masonry-grid_column > div {
    margin-bottom: 5px;
  }
}

.bg-gradient-img {
  background-image: url("https://email-builder-c70fb.appspot.com.storage.googleapis.com/orgs/adam/projects/thank-you-email-photo-gallery-link-6mme-ms_1/images/gradient-bg-pUJDAw-.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
